{% extends "base.html" %}
{% load static %}
{% block 'conteudo' %}
<a href="{% url "novoContato" %}" class="Botao01">Novo contato</a>
<table id="tabela">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for contato in contatos %}
            <tr>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.email }}</td>
                <td id="Botoes">
                    <a href="{% url "editarContato" idContato=contato.id %}" class="Botao02">Editar</a>
                    <a href="{% url "excluirContato" idContato=contato.id%}" class="Botao03" >Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock 'conteudo' %}